<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/navstyle.css">
    <title>Node Express Check</title>
</head>
<body id="bac">
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">contact</a>
    </nav>
    <h2 style="text-align:center">Hello</h2>
</body>
   

</html>